/* specific card styling can be done here (via .p{id} classnames)

eg:

.p06a5a7d9 {
  --image-width: 250px;
}

.p06a5a7d9 li {
  position: relative;
  padding-left: 8px;
}

.p06a5a7d9 li figure {
  margin: 1.5em 0;
}

.p06a5a7d9 li:not(:last-of-type)::after {
  content: " ";
  position: absolute;
  left: -15px;
  top: 12px;
  bottom: -30px;
  width: 1px;
  background: var(--font-color);
}

.p06a5a7d9 li:not(:first-of-type)::before {
  content: " ";
  position: absolute;
  left: -15px;
  top: 0;
  height: 16px;
  width: 1px;
  background: var(--font-color);
} */

#toggle-btn {
  position: absolute;
  right: 25px;
  top: 10px;
}

/* homepage (p19b4ca47) */
.p19b4ca47 #bbe65ddbd {
  margin: 0;
}

.p19b4ca47 #bbe65ddbd img {
  width: 100px;
}

.p19b4ca47 #b7eeb4e27 {
  padding-top: 50px;
}

/* footer */
.p19b4ca47 hr#b2d519158 {
  margin-top: 200px;
  border-color: rgb(228, 227, 226);
}

/* all credit to https://jarv.is/notes/css-waving-hand-emoji/ */
.p19b4ca47 > .title-row > img {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-delay: 1s;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
