/* specific card styling can be done here (via .p{id} classnames)

eg:

.p06a5a7d9 {
  --image-width: 250px;
}

.p06a5a7d9 li {
  position: relative;
  padding-left: 8px;
}

.p06a5a7d9 li figure {
  margin: 1.5em 0;
}

.p06a5a7d9 li:not(:last-of-type)::after {
  content: " ";
  position: absolute;
  left: -15px;
  top: 12px;
  bottom: -30px;
  width: 1px;
  background: var(--font-color);
}

.p06a5a7d9 li:not(:first-of-type)::before {
  content: " ";
  position: absolute;
  left: -15px;
  top: 0;
  height: 16px;
  width: 1px;
  background: var(--font-color);
} */

#toggle-btn {
  position: absolute;
  right: 25px;
  top: 10px;
}

/* homepage */
#bbe65ddbd {
  margin: 0;
}

#bbe65ddbd img {
  width: 100px;
}